<h1>Recipe CRUD app using Flask</h1>
<form method="POST" action="">
    <h2>Add recipe</h2>
    Recipe Name
    <br>
    <input type="text" name="recipe_name" size="50"/>
    <br>
    Recipe info
    <br>
    <div>
    <textarea rows="3" cols="50" name="recipe_info" id="recipe_info"
              style="font-family:sans-serif;font-size:1.2em;"></textarea><br>
    </div>
    Recipe ingredients
    <br>
    <textarea rows="3" cols="50" name="recipe_ing" id="recipe_ing"
              style="font-family:sans-serif;font-size:1.2em;"></textarea><br>
    <br>
    <input type="submit">
</form>

<form>
    <h2>Search recipe</h2>
    Search recipe by ingredient(s) <br>
    <br>
    <textarea rows="3" cols="50" name="recipe_ing_search" id="recipe_ing_search"
              style="font-family:sans-serif;font-size:1.2em;"></textarea><br>
    <br>
    <input type="submit",  value="Search">
</form>
</form>